html { 
    height: 100%; 
}

body { 
    margin: 0%; 
    min-height: 100%; 
    display: flex; 
    flex-direction: row; 
    background-color: darkblue;
 }       

.container { 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    background-color:white; 
    padding: 20px; 
    width: 450px;
    margin: auto; 
    box-shadow: 0px 0px 50px 1px lightgrey; 
} 

.item { 
    padding: 5px 25px 5px;
    margin: 20px 20px 15px; 
} 

.title { 
    font-size: 65px; 
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold; 
} 

.status {
    font-size: 50px; 
    font-family: 'Quicksand', sans-serif; 
} 

ol {
  text-align: left;
  font-family: 'Quicksand', sans-serif; 
}

button, input { 
    font-family: 'Quicksand', sans-serif; 
    border-style: solid; 
    border-color: darkgray; 
    border-left-color: blue; 
    background: inherit; 
    font-size: 25px; 
    width: 100%; 
    margin-top: 25px;
} 

button:hover, input:hover { 
    border-color: blue; 
} 

.text-center { 
    text-align: center 
} 

table {
    padding: 10px;
    margin: 0 auto;
} 

.cell { 
    width: 100px; 
    height: 100px; 
    font-size: 65px;
    font-family: 'Permanent Marker', cursive;
    padding: 0px;
    margin: 0px;
} 

.border-left-right { 
    border-left: 1px solid #000; 
    border-right: 1px solid #000; 
} 

.border-top-bottom { 
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; 
}

.red {
    color: red;
}

.blue {
    color: blue;
}