.square {
    width: 100px;
    height: 100px;
}

.v {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.h {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

html,
body {
    height: 100%;
    margin: 0;
    text-align: center
}

#wrapper {
    width: 100%;
    height: 100%;
}

#full {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #2e304a;
}

.half {
    width: 50%;
    height: 100%;
}

p, a{
    margin:0;
    padding:0;
    background-color:#2e4a31;
    color:white;
}

#me{
    position:absolute;
    bottom:0px;
    width:100%;
}

#newGame {
    float: left;
    background-color: #2e304a;
    color:white;
}

#joinGame1 {
    float: right;
    background-color: #4e1d4e;
    color:white;
}

#status {
    font-size: 8vw;
    margin: 0px;
    padding: 25px;
    background-color: #2e304a;
    color:white;
}

#GAMEBOARD {
    margin: auto;
    padding: 30px;
    background-color: grey;
    text-align: center;
}

table {
    margin: 0 auto;
    font-size:2em;
}

footer {
    min-height: 15%;
    font-size: 8vw;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
    background-color: #4e1d4e;
    color: white;
}
.intro{
    padding:50px;
    font-size:10vw;
}

input, button{
    font-size:2em;
    margin-top:15px;
    width:50%;
}


